<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/1597db2c5a.js"></script>
  <link rel="stylesheet" href="css/import.css">
  <title>Financias</title>
</head>
<body>
  <header class="header">
    <ul class="header-lista">
      <li class="header-lista-item"><a href="/perfil" class="header-lista-link">Meu Perfil</a></li>
      <li class="header-lista-item"><a href="#" class="header-lista-link">Minha Carteira</a></li>
      <li class="header-lista-item"><a href="/despesas" class="header-lista-link">Minhas Despesas</a></li>
      <li class="header-lista-item"><a href="/cadastro" class="header-lista-link">Cadastro</a></li>
      <li class="header-lista-item"><a href="/login" class="header-lista-link">Login</a></li>
    </ul>
    <% if (sessionName) { %>
      <div class="header-logado">
        <p class="header-logado-texto">Olá, <%= sessionName %></p>
        <a href="/login/deslogar" class="header-logado-deslogar">Deslogar</a>
      </div>
    <% } %>
  </header>
  <section class="despesas limite table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Valor</th>
          <th>Categoria</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < despesas.length; i++) { %>
          <tr class="despesas-lista-item" data-id="<%= despesas[i]._id %>">
            <td class="despesas-lista-texto despesas-lista-nome"><%= despesas[i].nome %></td>
            <td class="despesas-lista-texto despesas-lista-valor"><%= despesas[i].valor %></td>
            <td class="despesas-lista-texto despesas-lista-categoria"><%= despesas[i].categoria %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <div id="valorTotal">Valor total:</div>
  </section>
  <section class="formulario container">
    <div class="form-group">
      <form class="form-inline" action="/despesas/adicionar" method="post">
        <input class="form-control" type="text" name="nome" placeholder="Nome">
        <input class="form-control" type="number" name="valor" placeholder="Valor">
        <input class="form-control" type="text" name="categoria" placeholder="Categoria">
        <button class="btn btn-success" type="submit">Adicionar</button>
      </form>
    </div>
    <div class="form-group">
      <form class="form-inline" action="/despesas/mudar" method="post">
        <input id="inputMudar" class="form-control" type="hidden" name="alvo">
        <input class="form-control" type="text" name="nome" placeholder="Novo Nome">
        <input class="form-control" type="number" name="valor" placeholder="Novo Valor">
        <input class="form-control" type="text" name="categoria" placeholder="Nova Categoria">
        <button class="btn btn-success" type="submit">Mudar</button>
      </form>
    </div>
    <div class="form-group">
      <form class="form-inline" action="/despesas/deletar" method="post">
        <input id="inputExcluir" class="form-control" type="hidden" name="alvo">
        <button class="btn btn-success" type="submit">Deletar</button>
      </form>
    </div>
  </section>
  <script src="js/script.js"></script>
</body>
</html>
